# 🔹 Visual Studio
.vs/
bin/
obj/

# 🔹 Node / Angular
node_modules/
dist/

# 🔹 Environment files
.env

# 🔹 Secrets
appsettings.Development.json
appsettings.Production.json
secrets.json

# 🔹 Logs
*.log

# 🔹 OS files
.DS_Store
Thumbs.db

# 🔹 Uploads
uploads/